<div class="galleryPage">

  <div class="row galleries">
    <!-- Titres des la page -->
    <div class="col-1">
      <h1>&nbsp;Galeries publiques <mat-icon>photo_library</mat-icon></h1>
    </div>
  </div>

  <div class="row galleries">

    <div class="col-1 galleryList" >
      <!-- Photos de couverture de galeries -->
     <div  *ngFor="let item of galeries" (click)="SelectGalerie(item)" class="galleryThumbnail">
      <div>{{item.name}}</div>
      <img [src]="'https://localhost:7183/api/Galeries/GetPhotoGalerie/miniature/'+ item.id" alt="{{item.name}}">
     </div>
    </div>
  
    <div class="col-4">
      <!-- Photo de la galerie sélectionnée (Partie 2 !) -->
      <h2>Photos de la galerie sélectionnée <mat-icon>photo_camera</mat-icon></h2>
      <div *ngIf="galerieSelectionner != null" class="grid" #masongrid>
        <p>{{galerieSelectionner.name}}</p>
        <!-- Photos de la galeries -->
        <img (click)="SelectPhoto(i)"  [src]="'https://localhost:7183/api/Galeries/GetImagePhoto/miniature/'+ i.Photoid" #masongriditems class="grid-item" *ngFor="let i of galerieSelectionner.Photos">

        </div>
          
          
        </div>
        <div class="col-12" *ngIf="PhotoSelectionner != null">
           <img [src]="'https://localhost:7183/api/Galeries/GetImagePhoto/original/'+ PhotoSelectionner.Photoid">
        </div>
        
    </div>
  
  </div>
   


